# 共通設定
PROTOCOL=http # 本番では https に変更
base_domain=localhost

# 本番用設定 (Let's Encrypt用メールアドレス)
# acme_email=your-email@example.com

# アプリケーション設定
NEXT_PUBLIC_AUTH_ENABLED=true

# 外部データマウントパス (絶対パスまたはプロジェクトルートからの相対パス)
LIVE_DATA_PATH=./data/live-datas