[submodule "data-fetcher"]
	path = data-fetcher
	url = git@github.com:tiktok-ranking/data-fetcher.git
[submodule "tiktok-ranking"]
	path = tiktok-ranking
	url = git@github.com:tiktok-ranking/tiktok-ranking.git
