[submodule "services/tiktok-ranking"]
	path = services/tiktok-ranking
	url = git@github.com:tiktok-ranking/tiktok-ranking.git
[submodule "services/data-fetcher"]
	path = services/data-fetcher
	url = git@github.com:tiktok-ranking/data-fetcher.git
