# NextAuth.js / Keycloak Configuration
KEYCLOAK_ID=
KEYCLOAK_SECRET=
KEYCLOAK_ISSUER=http://keycloak.com
NEXT_PUBLIC_KEYCLOAK_URL=http://keycloak.com

# Feature Flags
NEXT_PUBLIC_AUTH_ENABLED=true # REQ-014: Keycloak認証の有効化/無効化 (true または false)

# Google Sheets API for Whitelist
WHITELIST_SHEET_ID=
MASTER_SHEET_ID=your_master_sheet_id # 例: 1Axxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_APPLICATION_CREDENTIALS=/app/secrets/service-account.json

# NextAuth.js General Configuration
NEXTAUTH_URL=http://ranking.com
NEXTAUTH_SECRET=