# NextAuth.js / Keycloak Configuration
KEYCLOAK_ID=
KEYCLOAK_SECRET=
KEYCLOAK_ISSUER=http://keycloak.com
NEXT_PUBLIC_KEYCLOAK_URL=http://keycloak.com

# Google Sheets API for Whitelist
WHITELIST_SHEET_ID=
GOOGLE_APPLICATION_CREDENTIALS=/app/secrets/service-account.json

# NextAuth.js General Configuration
NEXTAUTH_URL=http://ranking.com
NEXTAUTH_SECRET=